@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
}

.body {
}
a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
 
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;

}
.header_nav { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; 
}
p {
  margin:0;
}
p + p {
  margin-top: 15px;
}
.header_list {
  display: flex;
  gap: 30px;
  font-size: 16px;
  justify-content: center; 
  margin-right: 15px; 
}
.section {
  display: flex;
  padding: 15px; 
  align-items: center;
}
.header_list a {
  opacity: 0.7;
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.3s;
}
.header_list a.active {
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
}
.header_nav a {
  font-size: 16px;
  opacity: 0.7;
}
.btn_order {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: aliceblue;
  border-radius: 10px;
  margin-right:auto;
  
  text-transform: uppercase;
  transition: opacity 0.2;
  height: 30px;
  width: 100px;
  background-color: #81E0FD;
  box-shadow: 0 5px 0 #5c9eb3;
}
.btn_order:hover, .btn_section:hover {
  opacity: 0.8; 
  background: #003CC5;
  box-shadow: none;
  display: flex;
  justify-content:center;
  align-items: center;
  top: 5px;
}
.header_list a:hover {
  opacity :0.8;
}
.header ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/*--Welcome section*/


.food_list {
  width: 100%;
  padding: 100px 0;
}
.food_list .container {
 display: flex;
 justify-content: space-between;
 flex-wrap:wrap;
}
.food_list_card {
  width: 260px;
  overflow: hidden;
  background-color: grey;
  border-radius: 10px;
  text-align: center;
}
.food_list img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.food_list_text_wrapper{
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  text-align: center;
  text-wrap: wrap;

}
.food_list_text_wrapper a{
  display:flex;
  justify-content: center;
  align-items: center;


  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  border:none;
  
  text-transform: uppercase;
  transition: opacity 0.2s;
  height: 40px;
  width: 100px;
  background-color: #81E0FD;
  box-shadow: 0 5px 0 #5c9eb3;
}
.food_list_title {
  font-size: 16px;
  margin-bottom: 13px;
}
.food_list_desc {
  font-size: 16px;
  opacity: 0.7;
}

.order_price {
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 20px;
  color: #000;
}

/*---modal---*/

.modal {
  position:fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 30px;
  overflow-y: auto;
  display: none;
}
.modal_main {
  position: relative;
  max-width: 600px;
  background-color: white;
  margin: auto;
  color:black;
  border-radius: 10px;
  padding: 30px;
  cursor: default;
}
.modal_title {
  margin-bottom: 30px;
}
.modal_close {
  background-color:transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top :10px;
  right:10px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: outline-color .15s ease-in-out;
  padding: 0;
  text-align: center;
  display: block;
  width: 30px;
  height: 30px;
}
.modal_close:focus-visible {
  outline-color: blue;
}
.btn_section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  border:none;
  
  text-transform: uppercase;
  transition: opacity 0.2;
  height: 30px;
  width: 100px;
  background-color: #81E0FD;
  box-shadow: 0 5px 0 #5c9eb3;
}

/*--footer*/
 .footer {
  
  display:flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: pink;
 }
.footer ol {
  list-style-type: none;
  padding: 5px;
  margin: 10px;
}
.footer p {
  font-size: 22px;
  font-weight: 600;
  margin: 30px;
  padding:auto;
}

.footer_tags{
  display: flex;            /* Включаем Flexbox для выравнивания */
  flex-direction: column;   /* Выстраиваем элементы по вертикали */
  align-items: center;      /* Выравниваем элементы по центру по горизонтали */
  justify-content: center;  /* Выравниваем элементы по центру по вертикали (если нужно) */
  text-align: center;       /* Выравниваем текст по центру */
}
.footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

/*--page about us styles--*/

.logo_ab_us {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 50px 200px 50px ;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image:url(pics/rm222-mind-22.jpg) ;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center; 

}